<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="color--dark-blue mb-4">Static site contents</h3>
        </div>
    </div>
    <div class="row border py-4 mb-2">
        <div class="col-12">1. Style guide</div>
        <!-- List of various subcomponents -->
        <div class="col-12 px-4">1.1 <a href="/style-guide/index.html#colours">Colours</a></div>
    </div>
    <div class="row border py-4 mb-2">
        <div class="col-12">2. Pages</div>
        <div class="col-12 px-4">2.1 <a href="/about/index.html">About Us</a></div>
        <div class="col-12 px-4">2.2 <a href="/contact-us/index.html">Contact Us</a></div>
    </div>
    <div class="row border py-4 mb-2">
        <div class="col-12">3. Components</div>
    </div>
</div> 