{{#> main }}
    {{> header pageTitle="HomePage"}}
    <div class="p-4">
        <strong>Nav List : </strong>&nbsp;
        <ol>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact-us/">Contact us</a></li>
        </ol>
    

    </div>
    {{>footer}}
{{/main}}