{{#> main }}
    {{> header pageTitle="HomePage"}}
    <div>
    <strong>Nav List : </strong>&nbsp;
        <ol>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact-us/">contact-us</a></li>
        </ol>
    

    </div>
{{/main}}